<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
<h1>BUDGET</h1>
<style>
table {
  text-align:center;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<form action="palak/stage1.1/">
{% csrf_token %}

<table style="width:30%">
  <tr>
    <th>Category</th>
    <th>Costing</th> 
  </tr>
  <tr>
    <td>Lead Cast</td>
    <td contenteditable='true'><input type="text" name="text16" value={{a}}></td>
  </tr>
   <tr>
    <td>Other Actors</td>
    <td contenteditable='true'><input type="text" name="text17" value={{b}}></td>
  </tr>
  <tr>
    <td>Production</td>
    <td contenteditable='true'><input type="text" name="text18" value={{c}}></td>
  </tr>
  <tr>
    <td>Director</td>
    <td contenteditable='true'><input type="text" name="text19" value={{d}}></td>
  </tr>
  <tr>
    <td>Production</td>
    <td contenteditable='true'><input type="text" name="text20" value={{e}}></td>
  </tr>
  <tr>
    <td>Post Production</td>
    <td contenteditable='true'><input type="text" name="text21" value={{f}}></td>
  </tr>
  <tr>
    <td>Legal And Office Expenditure</td>
    <td contenteditable='true'><input type="text" name="text22" value={{g}}></td>
  </tr>
  <tr>
    <td>Marketing</td>
    <td contenteditable='true'><input type="text" name="text23" value={{h}}></td>
  </tr>
  <tr>
    <td>Miscellaneous</td>
    <td contenteditable='true'><input type="text" name="text24" value={{i}}></td>
  </tr>
   <tr>
    <td>Total Budget</td>
    <td contenteditable='true'><input type="text" name="text1" value={{tb}}></td>
  </tr>
 </table>
<input type="hidden" name="text7" value={{a}}>
<input type="hidden" name="text8" value={{b}}>
<input type="hidden" name="text9" value={{c}}>
<input type="hidden" name="text10" value={{d}}>
<input type="hidden" name="text11" value={{e}}>
<input type="hidden" name="text12" value={{f}}>
<input type="hidden" name="text13" value={{g}}>
<input type="hidden" name="text14" value={{h}}>
<input type="hidden" name="text15" value={{i}}>

<input type="submit" value="Submit">
<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
 